/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-coach-block  {
	display: flex;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e2e2e2;

	.photo {
		margin-right: 20px;
		min-width: 175px;
		max-width: 250px;
	}

	.text {
		.name {
			color: #042649;
			font-weight: bold;
			font-size: 24px;
			padding-bottom: 7px;
		}

		.role {
			font-size: 16px;
			margin-bottom: 12px;
		}

		.description {

		}
	}


}
